/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Whitney', sans-serif;
}

.flex-container {
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.btn {
    background-color: white;
    color: black;
    padding: .5em 1em;
    border-radius: 30px;
}

/* UTILITY */
.bg-gray {
    background-color: ##F6F6F6;
}

.bg-btn {
    background-color: #23272A;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    color: white;
}

/* HEADER */
.header-top {
    height: 60px;
    padding: 1em 0;
    background-color: #255EE9;
}

.h_menu li {
    display: inline-block;
    margin-left: 20px;
}

.h_menu {
    flex-grow: 1;
    text-align: center;
    padding: 5px 0;
}

.h_logo, .h_login {
    width: 20%;
}

.h_login {
    text-align: right;
    padding: 5px;
}

.jumbotron {
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    align-items: center;
}

.header-bottom {
    width: 55%;
    margin: 0 auto;
    text-align: center;
}

.header-bottom p {
    font-size: 1.5rem;
    color: white;
}

.btn_jumbotron {
    padding-top: 50px;
}
.btn_jumbotron li{
    display: inline-block;
}

.btn_jumbotron .btn {
    padding: 1em 1em;
    margin: 10px;
}

/* MAIN */
section {
    padding: 1em 0;
}

.dock-left {
    width: 65%;
}

.dock-left img {
    width: 100%;
}

.dock-right {
    width: 35%;
    padding-top: 20px;
    padding-left: 20px;
}

.dock-right h2 {
    font-size: 2.5rem;
    padding-bottom: 30px;
}

.text-centered {
    text-align: center;
    padding-top: 20px;
}

.text-centered h2 {
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.big-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* FOOTER */
footer {
    background-color: #23272A;
}

.sidebar {
    padding: 30px;
    width: 25%;
}

.sidebar span {
    color: #4565BD;
    font-size: 1.5rem;
}

.sidebar img {
    width: 10%;
}

.sidebar .lang {
    margin-top: 10px;
    color: white;
}

.f_social {
    margin-top: 10px;
    color: white;
    font-size: 1.2rem;
    word-spacing: 10px;
}

.f_menu {
    display: flex;
    width: 75%;
}

.f_menu-col {
    width: calc(100% /4);
    color: white;
    padding: 30px;
}

.f_menu-col span {
    color: #4565BD;
}

li {
    margin-bottom: 10px;
}

ul {
    margin-top: 10px;
}

.footer-bottom .container {
    border-top: 1px solid white;
    padding: 20px 0 20px 0;
    justify-content: space-between;
}

.footer-bottom a.btn {
    background-color: #4565BD;
    color: white;
}

